/* -------------------------------------------------------------
# hero section
---------------------------------------------------------------- */

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/move16.jpg") center;
    background-position: 180px;
    background-size: cover;
    background-attachment: fixed;
}

#hero.hero {
    transform: translateX(-80px);
    opacity: 0;
    transition: ease-out 0.5s;
}

#hero.hero-show{
    transform: translateX(0px);
    opacity: 1;
}

#hero .welcome-hide{
    transform: translateX(-80px);
    opacity: 0;
    transition: ease-out 0.5s;
}

#hero .welcome-show{
    transform: translateX(0px);
    opacity: 1;
}

#hero .efek {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero .hero-container {
    position: absolute;
    width: 100%;
    padding: 20px;
}

#hero .hero-container .welcome {
    z-index: 2;
    margin-left: 300px;
    padding: 10px;
}

#hero .hero-container {
    text-align: center;
    color: white;
}

#hero .hero-container .welcome h1 {
    font-size: 7vw;
    margin-bottom: 10px;
    margin-top: 10px;
}

#hero .hero-container .welcome p {
    font-size: 2vw;
    font-weight: bold;
}

@media (max-width: 768px) {
    #hero .hero-container {
        margin: auto;
    }
    #hero .hero-container .welcome h1 {
        font-size: 50px;
    }
    #hero .hero-container .welcome p {
        font-size: 20px;
    }
    #hero .hero-container .welcome {
        margin-left: 0px;
    }
    #hero {
        background-position: center;
    }
}