.btn{
    border-radius: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.btn-circle{
    padding: 1rem;
    border-radius: 100%;
    cursor: pointer;
}
.bg-grey{
    background-color: #eaeaea;
}
.card-hover:hover{
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.25) !important;
}
#portfolios{
    background-image: url(../images/ui/liquid-cheese.svg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#hero h1{
    font-size: 4rem;
}
#hero h2{
    font-size: 1.5rem;
}
#skills img{
    height: 2rem;
    margin-bottom: 1.5rem;
}
#editing-portfolios img{
    border-radius: 0.8rem;
    object-fit: cover;
    height: 6rem;
}
#about-img{
    width: 50%;
}
.title{
    position: relative;
    margin-bottom: 5rem;
}
.title:after{
    content: "";
    width: 4rem;
    height: 0.5rem;
    background-color: #c9c9c9;
    position: absolute;
    bottom: -1rem;
    right: 50%;
}

@media (min-width: 540px) {
    #hero h1{
        font-size: 8rem;
    }
    #hero h2{
        font-size: 2rem;
    }
    #skills img{
        height: 3rem;
        margin-bottom: 1.5rem;
    }
    #editing-portfolios img{
        height: 15rem;
    }
    #about-img{
        width: 25%;
    }
}