/* -------------------------------------------------------------
# Sections General
---------------------------------------------------------------- */

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

/* -------------------------------------------------------------
# About Section
---------------------------------------------------------------- */

#about .about-hide {
    transform: translateY(80px);
    opacity: 0;
    transition: ease-out 1s;
}

#about .about-show {
    transform: translateY(0px);
    opacity: 1;
}

#about .table-about {
    text-align: left;
    width: 100%;
}

#about .table-about tr:nth-child(odd) {
    background-color: #f5f8fd;
}

#about .table-about th {
    padding: 10px 25px 10px 5px;
    font-size: larger;
}

#about .row img {
    width: 100%;
}

#about .identitas {
    list-style-type: none;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
}

#about .skill-bar {
    color: white;
    background-color: whitesmoke;
    width: 100%;
    font-weight: normal;
    font-size: 10px;
    margin-top: 10px;
    border-radius: 50px;
}

#about .design, #about .web, #about .wordpress, #about .python {
    background-color: #040b14;
    padding: 5px 10px;
    border-radius: 50px;
}

#about .design {
    width: 85%;
}

#about .web {
    width: 85%;
}

#about .wordpress {
    width: 80%;
}

#about .python {
    width: 65%;
}

/* -------------------------------------------------------------
# Portfolio Section
---------------------------------------------------------------- */

#portfolio .portfolio-hide {
    transform: translateY(80px);
    opacity: 0;
    transition: ease-out 1s;
}

#portfolio .portfolio-show {
    transform: translateY(0px);
    opacity: 1;
}

#portfolio .row img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#portfolio .card {
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#portfolio .row .card-foto {
    width: 100%;
    height: 250px;
}

#portfolio .row .card-foto:hover {
    opacity: 0.7;
    cursor: pointer;
}

#portfolio .row .card-foto img, #portfolio .row .card-foto video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#portfolio .deskripsi p {
    font-size: small;
}

#portfolio .modal {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 50px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#portfolio .modal-content {
    margin: auto;
    display: block;
    max-width: 800px;
}

#portfolio .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#portfolio .close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#portfolio .more-efek {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .more {
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
}

#portfolio .more-btn {
    display: none;
    font-size: 30px;
    position: absolute;
}

#portfolio .clicked-category {
    background-color: #149ddd;
    color: white;
}

#portfolio .btn-category:focus {
    outline: none;
}

/* -------------------------------------------------------------
# Contact Section
---------------------------------------------------------------- */

#contact .contact-hide {
    transform: translateY(80px);
    opacity: 0;
    transition: ease-out 1s;
}

#contact .contact-show {
    transform: translateY(0px);
    opacity: 1;
}

#contact .card {
    padding: 30px;
}

#contact .row .card-foto {
    width: 100%;
    height: 250px;
}

#contact .row .card-foto iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact .form-hubungi {
    padding-left: 30px;
    padding-right: 30px;
}

#contact .form {
    width: 100%;
}

#contact .form .form-group {
    margin-bottom: 20px;
}

#contact .form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact .form .form-group input[type="text"] {
    width: 100%;
    padding: 10px 5px;
}

#contact .form .form-group textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    padding: 10px 5px;
}

@media (max-width: 768px) {
    #portfolio .modal-content {
        width: 100%;
        margin-top: 50px;
    }

    #portfolio .more{
        opacity: 0.5;
    }

    #portfolio .more-btn{
        display: block;
    }
}